/* global */
*, *::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-header: #FFFFFF;
  --text-main: #000000;
  --primary: #293449;
  --secondary: #32425C;
  --social-btn: #212A3A;
  --accent: #F1F5F7;
  --purchase: #63A63E;
  --purchase-hover: #5FBB2D;
  --purchase-active: #518534;
  --button: #EE3643;
  --button-active: #BA2732;
  --promo-delivery: #FFBF47;
  --promo-tools: #3BBCE3;
  --promo-vehicle: #DC91D8;
  --promo-discount: #8ED78F;
  --link-secondary: #FFD180;
  --title: #F9F5F0;
  --item-border: #eaeaea;
  --old-price: #A9A9A9;
  --breadcrumps-btn: #e5e5e5;
  --breadcrumps-btn-hover: #c5c5c5;
  --user-btn-active: #161D29;
  --nav-active: #1D2739;
  --filters: #F7F3EC;
  --range-scale: #D7DCDE;
  --toggle: #ABABAB;
  --checkbox: #b5b5b5;
}

html {
  height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
}

body {
  min-width: 960px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Tahoma", "sans-serif";
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

/* header */
.header-main {
    font-size: 18px;
    line-height: 24px;
    background-color: var(--accent);
}

.header-main a {
  color: var(--text-header);
}

.header-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-top {
  color: var(--text-header);
  min-height: 42px;
  background-color: var(--primary);
}

.header-top .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  height: 47px;
  width: 220px;
  padding-top: 13px;
  margin-bottom: -5px;
  text-align: center;
  background-color: var(--button);
}
.logo:active {
  background-color: var(--button-active);
}
.header-search {
  position: relative;
  flex-grow: 1;
}
.header-search .input-search {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 45px;
  background-color: transparent;
  width: 100%;
  border: none;
}
.header-search:before {
  content: "";
  width: 17px;
  height: 17px;
  top: 10px;
  left: 17px;
  opacity: 0.3;
  position: absolute;
  background-image: url("../img/icon-search.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
.header-search:hover:before {
  opacity: 1;
}
.header-search:active:before,
.header-search:focus:before {
  width: 17px;
  height: 17px;
  top: 10px;
  left: 17px;
  position: absolute;
  background-image: url("../img/icon-search-focus.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 10;
}

.input-search:focus {
  background-color: var(--text-header);
}
.input-search::placeholder {
  color: var(--text-header);
  opacity: 1;
}

.header-purchase {
  padding: 0;
  margin: 0;
  display: flex;
}
.header-purchase a {
  display: block;
}
.purchase-btn {
  min-width: 178px;
  padding: 9px 17px;
  text-align: center;
  background-color: var(--purchase);
}
.purchase-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--purchase);
}
.purchase-btn:hover {
  background-color: var(--purchase-hover);
}
.bookmarks-btn {
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 24px;
  padding-left: 43px;
  min-width: 150px;
}

.bookmarks-btn:before {
  content: "";
  width: 14px;
  height: 16px;
  top: 13px;
  left: 20px;
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}
.bookmarks-btn:hover:before {
  opacity: 1;
}
.basket-btn {
  position: relative;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 26px;
  padding-left: 49px;
  min-width: 150px;
}
.basket-btn:before {
  content: "";
  width: 15px;
  height: 15px;
  top: 13px;
  left: 26px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.3;
}
.basket-btn:hover:before {
  opacity: 1;
}
.bookmarks-btn:active,
.basket-btn:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--user-btn-active);
}

.header-middle .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  min-height: 158px;
  padding-top: 46px;
}

.header-main h1 {
  padding: 0;
  margin: 0;
  align-self: flex-start;
  margin-left: 15px;
  width: 197px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--button);
  display: block;
}
.header-contacts {
  text-align: center;
}
.header-contacts a {
  display: block;
  position: relative;
  font-size: 21px;
  line-height: 30px;
  color: var(--button);
  font-weight: bold;
  border: 3px solid var(--text-header);
  padding-top: 7px;
  padding-right: 45px;
  padding-bottom: 8px;
  padding-left: 74px;
}
.header-contacts a::before {
  content: "";
  width: 19px;
  height: 19px;
  top: 13px;
  left: 39px;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-contacts p {
  display: block;
  padding: 0;
  margin: 0;
  line-height: 24px;
  color: var(--secondary);
  font-size: 14px;
}

.header-login a {
  color: var(--text-main);
}
.header-login {
  padding: 0;
  margin: 0;
  display: flex;
  font-size: 21px;
  line-height: 21px;
}
.header-login a:hover {
  color: var(--button);
}
.header-login a:active {
  color: var(--breadcrumps-btn-hover);
}

.login-btn {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 27px;
  padding-left: 45px;
  background-color: var(--text-header);
  margin-right: 10px;
}

.register-btn {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 27px;
  padding-left: 24px;
  background-color: var(--text-header);
}

.login-btn:before {
  content: "";
  width: 20px;
  height: 17px;
  top: 14px;
  left: 18px;
  position: absolute;
  background-image: url("../img/icon-login.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.login-btn:hover:before {
  content: "";
  width: 20px;
  height: 17px;
  top: 14px;
  left: 18px;
  position: absolute;
  background-image: url("../img/icon-login-hover.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}


.header-main nav {
  box-shadow: inset 0px -5px 0px #293449;
  background-color: var(--secondary);
  margin-bottom: 60px;
}
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: 60px;
}
.site-navigation a {
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
}
.site-navigation a:active {
  opacity: 0.6;
  background-color: var(--nav-active);
}
.site-navigation a:hover {
  background-color: var(--primary);
}
/* User login */
.user-profile .user-btn {
  color: var(--text-main);
  font-size: 21px;
  line-height: 21px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  padding-left: 56px;
}
.user-profile {
  min-width: 280px;
  min-height: 45px;
  background-color: var(--text-header);
}
.user-links {
  display: flex;
  min-width: 280px;
  justify-content: center;
}
.user-links a {
  color: var(--secondary);
  text-decoration: underline;
  font-size: 16px;
  line-height: 18px;
  display: flex;
}
/* Promo-block*/
.promo-block {
  margin-top: 59px;
  margin-bottom: 59px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.promo-list li {
  list-style: none;
}
.promo-list h3 {
  color: var(--text-header);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
.promo-list a {
  color: var(--text-header);
  font-size: 14px;
  line-height: 18px;
}
.promo-btn {
  display: block;
  text-transform: uppercase;
  margin-top: 14px;
  padding: 10px;
  text-align: center;
  width: 135px;
  background-color: rgba(255, 255, 255, 0.3);
}
.promo-btn:hover {
  background-color: rgba(197, 197, 197, 0.3);
}
.promo-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
}
.promo {
  position: relative;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 23px;
  min-height: 123px;
  width: 300px;
}

.promo h3 {
  padding: 0;
  margin: 0;
}

.promo-list {
  padding: 0;
  margin: 0;
  grid-row: 1/ -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-areas:
    "materials tools vehicles"
    ". . discounts"
    ". . delivery";
}

.materials {
  grid-area: materials;
  background-color: var(--promo-delivery);
  background-image: url(../img/icon-materials.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.new-item:after {
  content: "";
  height: 70px;
  width: 70px;
  top: 0;
  right: 0;
  background-image: url("../img/icon-new.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0 0;
  z-index: 2;

}
.tools {
  grid-area: tools;
  background-color: var(--promo-tools);
  background-image: url(../img/icon-tools.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.vehicles {
  grid-area: vehicles;
  background-color: var(--promo-vehicle);
  background-image: url(../img/icon-vehicles.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.discounts {
  grid-area: discounts;
  background-color: var(--promo-discount);
  background-image: url(../img/icon-discounts.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
.delivery {
  grid-area: delivery;
  background-color: var(--promo-delivery);
  background-image: url(../img/icon-delivery.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}
/*  Промо Слайдер*/
.promo-slider {
  width: 620px;
  height: 266px;
  position: relative;
  grid-row: 2 / 4;
  grid-column: 1 / 3;
  list-style: none;
  padding: 0;
  margin: 0;
}
.promo-slider a {
  color: var(--text-header);
}
.promo-slider ul {
  padding: 0;
  margin: 0;
}
.promo-slider h3 {
  padding: 0;
  margin: 0;
  color: var(--text-header);
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
.promo-slider p {
  padding: 0;
  margin: 0;
  color: var(--text-header);
  font-size: 18px;
  line-height: 24px;
}
.slide {
  padding-top: 23px;
  padding-left: 24px;
  width: 620px;
  height: 266px;
  background-color: var(--primary);
}
.slide {
  display: none;
}

.slide-current {
  display: block;
}
.slide .button-main {
  margin-top: 112px;
}
.slide-perforators {
  background-image: url(../img/perforators.jpg);
}
.slide-drills {
  background-image: url(../img/drills.jpg);
}
.slider-buttons {
  position: absolute;
  left: 48%;
  bottom: 49px;
}
.slider-buttons button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--button);
  border: 2px solid var(--text-header);
  border-radius: 50%;
  cursor: pointer;
}
.slider-buttons .button-current {
  background-color: var(--text-header);
}
.slider-buttons button:first-child {
  margin-right: 5px;
}

.slider-arrows {
  position: absolute;
  top: 125px;
  left: 30px;
}
.slider-arrow-left {
  transform: rotate(45deg);
  margin-right: 492px;
}

.slider-arrow-right {
  transform: rotate(-135deg);
}
.slider-arrows button {
  padding: 0;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-left: 3px solid var(--text-header);
  border-bottom: 3px solid var(--text-header);
}

.button-main {
  display: inline-block;
  color: var(--text-header);
  background-color: var(--button);
  text-align: center;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  min-width: 192px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 35px;
  padding-left: 35px;
}
.button-main:active {
  background-color: var(--button-active);

}
.title-wrapper {
  min-height: 89px;
  background-color: var(--title);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 20px;
}
.title-wrapper h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--primary);
}
.title-wrapper a {
  color: var(--text-header);
}
/* Производители*/

.partners-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.partners-list li:nth-child(4n) {
  margin-right: 0;
}
.partner-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--accent);
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 0;
}
.partner {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partner:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.partner:active {
  opacity: 0.5;
}
/* Сервисы */
.services {
  padding-top: 64px;
}
.services h2,
.services h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}
.services h2 {
  margin-bottom: 25px;
}
.services h3 {
  margin-bottom: 30px;
}
.services ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.services h3 {
  color: var(--secondary);
}
.services p {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Tahoma", sans-serif;
}
.background-accent {
  background-color: var(--accent);
}
.services p {
  width: 410px;
  margin-bottom: 70px;
}
.slider-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.services-slide {
  width: 619px;
  min-height: 283px;
}
.slide-delivery p {
  width: 275px;
}
.slide-delivery {
  background-image: url(../img/img-delivery.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.slide-warranty p {
  width: 313px;
}
.slide-warranty {
  background-image: url(../img/img-warranty.png);
  background-repeat: no-repeat;
  background-position: top right;
}

.slide-loan p {
  width: 313px;
  margin-bottom: 30px;
}
.slide-loan {
  background-image: url(../img/img-loan.png);
  background-repeat: no-repeat;
  background-position: top right;
}

 .services .services-buttons {
  display: block;
  position: relative;
  width: 240px;
  margin-right: 80px;
}
.services-buttons button {
  width: 240px;
  min-height: 61px;
  background-color: var(--secondary);
  color: var(--text-header);
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 22px;
  border: none;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
}
.services-buttons .button-current {
  background-color: var(--text-header);
  color: var(--secondary);
  box-shadow: 0px 1px 0px #FFFFFF;
}
.services-buttons:after {
  content: "";
  position: absolute;
  height: 279px;
  width: 10px;
  background-image: url(../img/servises-buttons-shade.png);
  background-position: 0 0;
  right: 0;
  top: -39px;
}
.services-slide {
  display: none;
}
.services-slider .current {
  display: block;
}

/* About Tehnomart*/

.flex-section {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 70px;
}

.flex-section h2 {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.flex-section p {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.about-company p:first-of-type {
  width: 478px;
}

.about-company p:nth-of-type(2) {
  width: 440px;
  margin-bottom: 0;
}
.transporting {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 20px;
  margin-left: 37px;
  font-size: 18px;
  line-height: 24px;
}
.transporting li {
  display: block;
  margin-bottom: 12px;
  position: relative;
}
.transporting li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -37px ;
  width: 25px;
  height: 2px;
  background-color: var(--button);
}
.contacts {
  flex-basis: 300px;
}
.contacts .button-main {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.about-company {
  flex-basis: 478px;
}
/* catalog*/
.catalog-page {
  font-family: PT Sans;
}
.page-title {
  font-family: "Cuprum", "Tahoma", "sans-serif";
  font-size: 30px;
  line-height: 30px;
}

.breadcrumps {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "PT Sans", "Tahoma", "sans-serif";
  height: 59px;
}
.breadcrumps-link:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13%;
  right: -25px;
}
.breadcrumps li {
  display: block;
  position: relative;
  margin-right: 40px;
  color: var(--text-main);
}

.breadcrumps li:first-child {
  width: 14px;
  min-height: 14px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.breadcrumps-link {
  display: block;
  width: 100%;
  height: 14px;
  color: var(--text-main);

}
.breadcrumps-link:hover,
.breadcrumps-link:focus {
  text-decoration: underline;
}
.breadcrumps-catalog {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 59px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
.breadcrumps-catalog a {
  display: block;
  width: 100%;
  height: 100%;
  color: var(--text-main);
  padding: 10px 15px;
  text-transform: uppercase;
}
.breadcrumps-catalog-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 38px;
  min-width: 38px;
  border: 1px solid var(--breadcrumps-btn);
  border-radius: 2px;
}
.breadcrumps-catalog-btn:last-child {
  min-width: 140px;
}

.breadcrumps-catalog a:not([href]) {
  color: var(--text-header);
  background-color: var(--button);
  border: 1px solid var(--button);
}
.breadcrumps-catalog-btn:hover {
  border-color: var(--breadcrumps-btn-hover);
}
.breadcrumps-catalog-btn:active {
  border-color: var(--button);
}
/* Фильтрр*/

.filters-all fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 17px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--range-scale);
}
.filters-all fieldset:last-of-type {
  border: none;
}

.filters-all {
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-transform: uppercase;
  width: 220px;
  margin-right: 20px;
  grid-row: 3;
  grid-column: 1;
}
.filter-title {
  margin: 0;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  display: block;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;

  background-color: var(--filters);
}
/* Фильтр цены */
.range-filter {
  padding-bottom: 25px;
}
.price-controls {
  width: 100%;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-controls {
  position: relative;
  height: 80px;
  width: 100%;
  margin-top: 11px;
  padding: 39px 22px;
  background-color: var(--filters);
  border-radius: 5px;
}
.range-controls .scale {
  height: 2px;
  width: 180px;
  background-color: var(--range-scale);
}
.scale .bar {
  height: 2px;
  width: 80%;
  background-color: var(--purchase-hover);
}
.toggle {
  position: absolute;
  top: 32px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--text-header);
  border-radius: 50%;
  background-color: var(--toggle);
  box-shadow: 0 2px 1px 0 var(--toggle);
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 20px;
}
.range-controls .toggle-max {
  left: 160px;
}
.price-controls label {
  font-size: 17px;
  line-height: 18px;
}
.price-controls input {
  font-size: inherit;
  line-height: inherit;
  width: 95px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--filters);
}
.price-controls p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
}

.filter legend {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 20px;
}
.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid var(--checkbox);
  border-radius: 3px;
  left: -35px;
  top: -3px;
  opacity: 0.7;
}

.filter-input-checkbox:checked + label:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  left: -35px;
  top: -3px;
  opacity: 0.7;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover + label::after {
  opacity: 1;
}

.filter-input-checkbox:active + label::before,
.filter-input-checkbox:active + label::after {
  opacity: 0.4;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border: 4px solid var(--checkbox);
  border-radius: 50%;
  left: -35px;
  top: -3px;
  opacity: 0.7;
}


.filter-input-radio:checked + label:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--checkbox);
  border-radius: 50%;
  left: -28px;
  top: 4px;
  opacity: 0.7;
}
.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
  opacity: 1;
}

.filter-input-radio:active + label::before,
.filter-input-radio:active + label::after {
  opacity: 0.4;
}
.filters-all button {
  width: 100%;
  min-height: 38px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;
}


/*  Каталог товаров*/

.catalog-grid {
  display: grid;
  grid-template-columns: 220px fr;
  grid-template-rows: min-content min-content fr;
  align-content: start;
}

.catalog-grid .breadcrumps {
  grid-row: 1;
  grid-column: 1 / 3;
}

.catalog-grid .page-title {
  grid-row: 2;
  grid-column: 1 / 3;
}
.catalog {
  font-family: "PT Sans", "Tahoma", sans-serif;
  grid-row: 3;
  grid-column: 2;

}
.page-title {
  width: 100%;
  background-color: var(--accent);
  margin: 0;
  margin-bottom: 20px;
  min-height: 89px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sorter-section {
  width: 100%;
  min-height: 38px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--filters);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 19px;
  padding-right: 14px;
  margin-bottom: 28px;
}


.sorter-header {
  display: block;
  flex-basis: 180px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

.sorter-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 13px;
  line-height: 18px;
  flex-basis: 450px;
}

.sorter-list a {
  display: block;
  color: var(--text-main);
  opacity: 0.3;
  text-decoration: dotted underline var(--button);
}
.sorter-list a:hover,
.sorter-list a:focus {
  opacity: 1;
  text-decoration: underline var(--button);
}

.sorter-list a:active {
  color: var(--button);
  opacity: 1;
  text-decoration: none;
}
.sorter-list a:not([href]) {
  color: var(--button);
  opacity: 1;
  text-decoration: none;
}

.sorter-up {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-down-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.sorter-down {
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-down-black.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.sorter-down:active,
.sorter-up:active {
  background-image: url(../img/icon-down-red.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
  justify-content: space-between;
}
.catalog-list-index {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 25px;
}
.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  width: 220px;
  min-height: 318px;
  border: 1px solid var(--item-border);
  background-color: var(--text-header);
  margin-bottom: 18px;
}

.catalog-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item:hover .item-purchase{
  z-index: 1;
}

.catalog-item h4,
.catalog-item h3 {
  color: var(--text-main);
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}
.catalog-item p {
  margin: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}
.old-price {
  position: absolute;
  bottom: 69px;
  color: var(--old-price);
  text-decoration: line-through;
}
.current-price {
  display: inline-block;
  width: 141px;
  min-height: 38px;
  padding-top: 10px;
  color: var(--text-header);
  background-image: url("../img/red-button.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-item img {
  height: 128px;
  width: 127px;
}
.item-purchase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  width: 215px;
  height: 150px;
  background-color: #212A3A;
  background-color: var(--text-header);
  left: 0;
  top: 0;
  z-index: -1;
}
.item-purchase-btn {
  position: relative;
  display: block;
  width: 135px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 12px;
  color: var(--text-header);
  text-transform: uppercase;
  background-color: #63A63E;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  margin-bottom: 10px;
}
.item-purchase-btn:before {
  content: "";
  height: 15px;
  width: 15px;
  background-image: url(../img/icon-cart.svg);
  opacity: 0.3;
  position: absolute;
  top: 10px;
  left: 30px;
}
.item-purchase-btn:hover {
  background-color: var(--purchase-hover);
}
.item-purchase-btn:active {
  background-color: var(--purchase-active);
}
.item-bookmark-btn:hover {
  border-color: var(--secondary);
}

.item-bookmark-btn:active {
  border-color: var(--secondary);
  opacity: 0.5;
}
.item-bookmark-btn {
  display: block;
  width: 135px;
  min-height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 22px;
  padding-right: 12px;
  text-transform: uppercase;
  color: var(--secondary);
  border: 3px solid #63A63E;
  border-radius: 2px;
}
/* Perforators description*/

.background {
  background-color: var(--accent);
}
.perforators-description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.perforators-description p {
  font-family: PT Sans, Tahoma, sans-serif;
  line-height: 24px;
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.perforators-description {
  min-height: 261px;
  padding-top: 64px;
}
/* footer */

.footer-main li {
  list-style: none;
}
.footer-main {
  background-color: var(--secondary);
}
.footer-top {
  min-height: 193px;
  color: var(--text-header);
  font-size: 18px;
  line-height: 24px;
}
.footer-main .wrapper {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.logo-bottom {
  display: block;
  padding-top: 20px;
  padding-left: 41px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  height: 68px;
  width: 220px;
  background-color: var(--button);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.footer-contacts p {
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.footer-navigation a:hover {
  text-decoration: underline;
}
.footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-nav {
  margin-top: 37px;
  display: flex;
  justify-content: flex-end;
}

.footer-nav-gold {
  display: flex;
  justify-content: flex-end;
}

.footer-nav a {
  color: var(--text-header);
  margin-left: 58px;
}

.footer-nav-gold a {
  color: var(--link-secondary);
  margin-left: 58px;
}

.footer-bottom {
  background-color: var(--primary);
  color: var(--text-header);
  font-size: 16px;
  line-height: 18px;
  min-height: 107px;
}
.footer-bottom .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 107px;
}
.social ul {
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
}
.social li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  background-color: var(--social-btn);
  margin-right: 3px;
}
.social li:hover {
  background-color: var(--button);
}
.social-btn {
  width: 100%;
  height: 100%;
}
.social-vk {
  background-image: url(../img/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-fb {
  background-image: url(../img/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social-insta {
  background-image: url(../img/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer-bottom a {
  color: var(--link-secondary);
}

.footer-bottom p {
  margin: 0;
  padding: 0;
}
.footer-feedback a:hover,
.footer-dev a:hover {
  text-decoration: underline;
}
.footer-feedback a:active,
.footer-dev a:active {
  color: var(--button);
}


.map-popup {
  display: none;
}
.form-popup {
  display: none;
}

